// * {
//   border: 1px dotted red;
// }

.container {
  border: 1px solid black;
  height: 400px;
  width: 350px;
  margin: 2px;
}

.align {
  padding-top: 20px;
  //padding-left: 10px;
  display: inline-block;
  width: 44px;
}

.categories {
  padding-top: 300px;  
}

.align-price {
  transform: rotate(270deg);
  //transform-origin: right bottom 0;
  transform-origin: 30px 30px;
}

.align-category1 {
	transform: rotate(270deg);
	//transform-origin: right bottom 0;
  transform-origin: 30px 30px;
}

.align-category2 {
	transform: rotate(270deg);
	//transform-origin: right bottom 0;
  transform-origin: 30px 30px;
}

.align-category3 {
	transform: rotate(270deg);
	//transform-origin: right bottom 0;
  transform-origin: 30px 30px;
}

.align-category4 {
	transform: rotate(270deg);
	//transform-origin: right bottom 0;
  transform-origin: 30px 30px;
}
.align-category5 {
	transform: rotate(270deg);
	//transform-origin: right bottom 0;
  transform-origin: 30px 30px;
}

.align-category6 {
	transform: rotate(270deg);
	//transform-origin: right bottom 0;
  transform-origin: 30px 30px;
}
